.home{
    position: absolute;
    top: 80px;
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.form-post-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    .home-grid-item{
        padding:10px;
    }

    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }
}
.pagination-home{
    display: flex;
    justify-content: center;
    margin: 20px;
    position: sticky;
    top: 100%;
}

