.other-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #242526;
    padding: 20px;
    width: 100%;
    color: #fff;
    position: sticky;
    top: 0;
    min-height: 70vh;
    @media (max-width: 768px){
        min-height: fit-content;
    }
}

.post-ref {
    text-decoration: none;
    color: inherit;
    width: 100%;
    text-align: center;

    @media (max-width: 768px){
        display: none;
    }

    div {
        display: flex;
        padding: 10px;
        font-size:small;
        span{
            background-color: #ffd000;
            color: black;
            width:100%;
            padding: 10px;
            border-radius: 5px;
            font-size:medium;
            font-weight: 500;
        }
    }
}