.post-container-master{
    display: flex;
    flex-direction: column;
    background-color: #242526;
    justify-content: space-between;
    padding: 10px;
    margin-bottom:20px;
    border-radius: 5px;
}
.post-container{
    position: relative;
}
.creator-container{
    color: rgb(129, 129, 129);
    margin: 10px 0;
    font-size: small;
}
.media {
    width: 100%;
    // aspect-ratio: 1.5/1;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.dots{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    :hover{
        cursor: pointer;
    }
    button{
        background-color:transparent;
        border: none;
    }
}
.post-title, .post-message{
    margin-top:10px;
    color: #fff;
}
.like-del-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button{
        background-color: transparent;
        border: none;
        font-size: large;
        display: flex;
        align-items: center;
        color: #fff;
    }
    button:hover{
        cursor: pointer;
    }
}