.nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    background-color: #242526;
    margin-bottom: 20px;
    position: absolute;
    top:0;
    width: 100%;
}
.profile-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;

    img{
        height:100%;
        border-radius: 100%;
    }

    h2{
        color: #ffffff;
        margin: 0 10px;
    }
}
.search-container {
    display: flex;
    // padding: 10px;
    // height: 70%;
    
}